/************************************************************* Google Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*************************************************************  HTML and Body Reset and basic display settings */

body,
html {
    box-sizing: border-box;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #EFF1F3;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1 0 auto; 
    flex-wrap: wrap;
    padding: 20px;
}


/************************************************************* Font rules */

.heading-font {
    font-family: 'Crimson Text', serif;
}

.body-font {
    font-family: 'Raleway', sans-serif;
}

.dark-font {
    color: #0E0F19;
} 

.light-font {
    color: #EFF1F3;
}

/************************************************************* Headings */

.main-heading {
    font-weight: 700;
    font-size: 3rem;
    text-shadow:  6px 0px 19px rgba(114,163,192,0.54);
    text-decoration: underline;
    margin-bottom: 0;
}

.span-italic {
    font-style: italic;
}

/************************************************************* Header */

header {
    margin-top: 50px;
}

#headingAnchor {
    text-decoration: none;
}

#headingAnchor:hover  {
    text-decoration: none;
}

/************************************************************* Covid Splash Screen*/

.covid-splash-container {
    background-color: #EFF1F3;
    color: #0E0F19;
    padding: 25px;
}

/* Pure CSS Optimised Loader Icon */
/* https://loading.io/css/  -  .lds-heart */

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #0E0F19;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #0E0F19;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/************************************************************* COVID Toggler */

#covidToggler {
    margin-top:10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

#covidToggler .btn {
    width: 120px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:0;
}

#covidToggler .btn:focus {
  box-shadow: none;
}

#covidToggler .btn-active {
    background-color: #72A3C0;
    color: #0E0F19;
    text-decoration: underline;
}

/* Button animation from Hover.css */
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */
/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /* Removed border from downwards fill */
  border: none;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  /* Removed default background color, amended borders */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /**/
  
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: #0E0F19;
  /* Removed border from Upwards fill */
  border: none;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Targetted Customisation for the sweep effect */
.btn-compare.hvr-sweep-to-top:before {
    background: #72A3C0;
    border-color: #72A3C0;
}

.btn-visualise.hvr-sweep-to-top:before {
    background: #72A3C0;
    border-color: #72A3C0;
}

.btn-map.hvr-sweep-to-top:before {
    background: #72A3C0;
    border-color: #72A3C0;
}

/************************************************************* Covid Data*/
.covid-data {
    min-height: 200px;
    width: 100%;
}

.covid-data-container, .covid-info-container {
    border-radius: 15px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

#covidCompare .covid-data-container {
    background-color: #72A3C0;
    border-color: #72A3C0;
}

#covidVisualise .covid-data-container {
    background-color: #72A3C0;
    border-color: #72A3C0;
}

#covidMap .covid-data-container {
    background-color: #72A3C0;
    border-color: #72A3C0;
    color: #40A4DF;
}

#covidInfo .covid-info-container {
    background-color: #72A3C0;

}

.input-section{
      padding-top: 20px;
      padding-bottom: 10px;
}

select {

    text-align: center;
    text-align-last: center;
    border: 1px solid #0E0F19;
    box-shadow: 
    8px 8px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #EFF1F3;
    
}

select:focus {
    outline: none;
}

/************************************************************* Covid Compare*/

.btn-table {
    color: #EFF1F3;
    font-weight: 600;
    letter-spacing: 1px;
}

.covid-table {
    table-layout:fixed;
    width: 100%;
}

#firstCountrySelect, #secondCountrySelect {
    width: 100%;
    max-width: 100%;
}

/* Override Bootstrap table alignment */
/* https://stackoverflow.com/questions/43306233/vertically-align-text-in-a-table-cell */
table th, table td{
   display: table-cell;
   vertical-align: middle;
}

/************************************************************* Footer */
/* Sticky Footer using Flexbox: https://css-tricks.com/couple-takes-sticky-footer/ */
#footer {
  flex-shrink: 0; 
}

.footer-section {
    background-color: #72A3C0;
    height: 30px;
}

/************************************************************* Covid Visualise */




/************************************************************* Covid Map */

/* Mapael - Formatting obtained from git */

.mapael .map {
        position: relative;
    }

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}

.mapael .areaLegend svg text {
    fill: #0E0F19;
}

/* For all zoom buttons */
.mapael .zoomButton {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 10px;

    -webkit-user-select: none;
    -khtml-user-select : none;
    -moz-user-select: none;
    -o-user-select : none;
    user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
    top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
    top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
    top: 50px;
}

.mapael .map {
    margin: 10px;
    position: relative;
}


/************************************************************* Media Queries */

/********** Mobile Devices **********/

@media only screen and (max-width: 576px) {

  /* Covid Toggler */
  #covidToggler {
    justify-content: space-between; 
  }

  #covidToggler .btn {
    width: 100px;
    padding: 5px 0 5px 0;
    font-size: 15px;
  }

  /* Data Containers */
  .covid-data  {
    margin-top: -1px;
  }
  
}