/************************************************************* Google Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*************************************************************  HTML and Body Reset and basic display settings */

body,
html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #EAEAEA;
    font-family: 'Raleway', sans-serif;
}

/************************************************************* Font rules */

.heading-font {
    font-family: 'Crimson Text', serif;
}

.body-font {
    font-family: 'Raleway', sans-serif;
}

.dark-font {
    color: #212738;
}

/************************************************************* Headings */

.main-heading {
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 5px solid #212738;
}

.span-italic {
    font-style: italic;
}

/************************************************************* Header */

header {
    margin-top: 50px;
}

/************************************************************* COVID Toggler */

.covid-toggler {
    margin-top:10px;
}

.covid-toggler .btn {
    width: 120px;
}

/************************************************************* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
